<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Implementacion SFTP</title>
</head>
<body>
    
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Inicio</a></li>
        </ul>
    </nav>
    
    <h1>Establecer conexión</h1>    
    <form action="{{ url_for('index') }}" method="post">
        <label for="hostname">Hostname:</label>
        <input type="text" id="hostname" name="hostname" required>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <input type="submit" value="Enviar">
    </form>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    {% if conexion %}
        <h2>Datos de Conexión:</h2>
        <ul>
            <li>Hostname: {{ conexion.hostname }}</li>
            <li>Usuario: {{ conexion.username }}</li>
            <li>Contraseña: {{ conexion.password }}</li>
        </ul>
    {% endif %}
    {% if conexion %}
        <ul>
            <li><a href="{{ url_for('enviar_archivo') }}">Enviar Archivo</a></li>
            <li><a href="{{ url_for('listar_archivos') }}">Listar Archivos</a></li>
            <li><a href="{{ url_for('descargar_archivo') }}">Descargar Archivo</a></li>
            <li><a href="{{ url_for('borrar_archivo') }}">Borrar Archivo</a></li>
            <li><a href="{{ url_for('desconectar') }}">Desconectar conexión</a></li>
        </ul>
    {% endif %}
</body>
</html>